<app-background>
  <ion-fab slot="fixed" vertical="top" horizontal="start">
    <ion-fab-button class="fab-button" (click)="accessChose()">
      <ion-icon name="arrow-undo-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-fab slot="fixed" vertical="top" horizontal="end">
    <ion-fab-button class="fab-button">
      <ion-icon name="menu"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="bottom">
      <ion-fab-button class="fab-button">
        <ion-icon name="flower-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button class="fab-button">
        <ion-icon name="calendar-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button class="fab-button">
        <ion-icon name="alarm-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  <h1 class="centered-text1">O que vamos aprender hoje?</h1>
  <h4 class="centered-text2">Toque na opção desejada!</h4>
  <div class="options-container">
    <div class="option-card red">
      <div class="icon-title">
        <ion-icon name="flower-outline"></ion-icon>
        <h3>Galeria</h3>
      </div>
      <p>Registrou algum momento legal? Vamos aprender como organizar e gerenciar suas fotos!</p>
    </div>
    <div class="option-card blue">
      <div class="icon-title">
        <ion-icon name="calendar-outline"></ion-icon>
        <h3>Calendário</h3>
      </div>
      <p>Esquecendo de alguma data importante? Vamos aprender a se planejar!</p>
    </div>
    <div class="option-card purple">
      <div class="icon-title">
        <ion-icon name="alarm-outline"></ion-icon>
        <h3>Relógio</h3>
      </div>
      <p>Acordou tarde e perdeu algum compromisso? Aprenda a criar e gerenciar seus alarmes!</p>
    </div>
  </div>
</app-background>
