ion-content.backgroundG {
    --background: none; // Remove o fundo padrão do ion-content, se necessário
    display: flex;
    flex-direction: column; // Organiza o conteúdo em uma coluna
    align-items: center; // Centraliza o conteúdo horizontalmente
    position: relative;
    min-height: 100vh; // Garante que a altura ocupe a tela inteira
    padding: 1rem; // Adiciona espaçamento interno para evitar que o conteúdo encoste nas bordas
    background: linear-gradient(to bottom, #ff5252, #ffffff); // Gradiente de #ff5252 para branco
  }
  
  ion-toolbar {
    --background: #ce4b4b;
    --color: white;
    height: 60px;
    display: flex;
    align-items: center;
  }
  
  .button {
    --background: #ce4b4b;
    --background-activated: #ce4b4b;
    --color: white;
  }
  
  h1.centered-text {
    text-align: center; // Centraliza o texto horizontalmente
    margin-top: 20px; // Adiciona uma margem superior
    width: 100%; // Garante que o elemento ocupe 100% da largura disponível
    font-size: 2.2rem;
  }
  
  .menu-section {
    background: #fff;
    border-radius: 10px;
    padding: 1rem;
    margin: 1rem 0; // Espaçamento entre as seções
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); // Sombra para destacar a seção
    width: 100%; // Ocupa toda a largura disponível
    max-width: 600px; // Limita a largura máxima para garantir legibilidade
  
    .menu-title {
      font-size: 1.5rem;
      color: #ce4b4b;
      margin-bottom: 0.5rem;
    }
  
    .menu-description {
      font-size: 1rem;
      color: #333;
      margin-bottom: 1rem;
    }
  
    .menu-image {
      width: 100%;
      border-radius: 10px;
    }
  }
  