<ion-content class="backgroundG">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button class="button" (click)="accessMenu()">
          <ion-icon name="arrow-undo-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>Galeria</ion-title>
      <ion-buttons slot="end">
        <ion-button class="button">
          <ion-icon name="menu"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <h1 class="centered-text">O que podemos fazer aqui?</h1>

  <div class="menu-section">
    <h2 class="menu-title">1 - Menus</h2>
    <p class="menu-description">
      Na primeira tela após abrir a galeria você pode visualizar os seguintes menus: Imagens, Álbuns e Histórias.
    </p>
    <!-- <img src="/assets/album_preview.png" alt="Menu Image" class="menu-image"> -->
  </div>

  <!-- Replicar para mais seções -->
  <div class="menu-section">
    <h2 class="menu-title">2 - Imagens</h2>
    <p class="menu-description">
      Um breve texto explicando alguma coisa sobre imagens.
    </p>
    <!--<img src="/assets/images_preview.png" alt="Imagens" class="menu-image"> -->
  </div>

  <!-- Adicione outras seções conforme necessário -->

</ion-content>
