<ion-content class="backgroundG">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button class="button" (click)="accessMenu()">
          <ion-icon name="arrow-undo-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>Galeria</ion-title>
      <ion-buttons slot="end">
        <ion-button class="button">
          <ion-icon name="menu"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <h1 class="centered-text">O que podemos fazer aqui?</h1>

  <div class="menu-section">
    <h2 class="menu-title">1 - Menus</h2>
    <img src="/assets/galeria/1_Menu.jpg" alt="Menu Image" class="menu-image">
    <p class="menu-description">
      Na primeira tela após abrir a galeria você pode visualizar os seguintes menus: Imagens(1), Álbuns(2) e Histórias(3).
    </p>
  </div>

  <div class="menu-section">
    <h2 class="menu-title">2 - Imagens</h2>
    <p class="menu-description">
      Ao acessar o menu de imagens, no centro da tela você poderá visualizar todas a fotos salvas no seu aparelho e suas datas correspondentes.
    </p>
    <img src="/assets/galeria/2_Imagens.jpg" alt="Imagens" class="menu-image">
  </div>

  <div class="menu-section">
    <h2 class="menu-title">2.1 - Selecionando Imagens</h2>
    <p class="menu-description">
      Ao manter pressionado o dedo na imagem desejada, você irá seleciona-la, podendo assim selecionar outras imagens (ou somente uma) para depois escolher
      uma ação desejada, como: Compartilhar(1), Excluir(2) e Mais(3), marcados na imagem a seguir.
    </p>
    <img src="/assets/galeria/2_1SelecImg.jpg" alt="Imagens" class="menu-image">
  </div>

  <div class="menu-section">
    <h2 class="menu-title">2.2 - Compartilhando Imagens</h2>
    <p class="menu-description">
      Ao selecionar a(s) imagem(s) desejada(s) e precionar o botão de compartilhar, o celular mostrará a(s) imagem(s) selecionada(s), seus contatos recentes para enviar
      a(s) imagem(s)(1) e os aplicativos para você compartilhar a(s) imagem(s)(2).<br>
      Após selecionar o aplicativo que deseja encaminhar a(s) imagem(s), o celular irá abrir o aplicativo
      correspondente.
    </p>
    <img src="/assets/galeria/2_2_CompImg.jpg" alt="Imagens" class="menu-image">
  </div>

  <div class="menu-section">
    <h2 class="menu-title">2.3 - Excluindo Imagens</h2>
    <p class="menu-description">
      Ao seleciar a(s) imagem(s) desejada(s) e precionar o botão de excluir, aparecerá a seguinte mensagem.
    </p>
    <img src="/assets/galeria/2_3_ExcluIMG.jpg" alt="Imagens" class="menu-image">
    <p class="menu-description">Precionando a opção "Mover para a Lixeira", a(s) imagem(s) serão movidas para a lixeira, onde serão excluidas automaticamente após 30 dias.</p>
  </div>

  <div class="menu-section">
    <h2 class="menu-title">2.4 - Mais Opções</h2>
    <p class="menu-description">
      Precionando a opção "Mais", aparecerá um menu com várias opções possíveis.</p>
      <p class="menu-description">- Copiar p/ área de transf.(1): Copia a(s) imagem(s), possibilitando colar a(s) imagem(s) em outro lugar.<br></p>
      <p class="menu-description">- Copiar para o álbum(2): Possibilita criar uma cópia da(s) imagem(s) em algum álbum já criado.<br></p>
      <p class="menu-description">- Mover para o álbum(3): Move a(s) imagem(s) selecionada para um álbum já criado, sem criar cópias.<br></p>
      <p class="menu-description">- Definir como papel de parede(4): Define a(s) imagem(s) seleciona da como plano de fudno do celular, podendo ser o plano da tela de bloqueio, tela inicial ou ambas.</p>
    <img src="/assets/galeria/2_4_MaisIMG.jpg" alt="Imagens" class="menu-image">
  </div>

  <div class="menu-section">
    <h2 class="menu-title">3 - Álbuns</h2>
    <p class="menu-description">
      Ao acessar o menu de Álbuns(1), no centro da tela você poderá visualizar todos os álbuns criados no seu celular.<br>
      Álbuns foram criados para facilitar a organização de fotos e vídeos do seu celular.
    </p>
    <img src="/assets/galeria/3_AlbunsMenu.jpg" alt="Imagens" class="menu-image">
  </div>

  <div class="menu-section">
    <h2 class="menu-title">3.1 - Criando Álbuns</h2>
    <p class="menu-description">
      Para criar um álbum, basta clicar no ícone "Mais" no canto superior direito da tela.
    </p>
    <img src="/assets/galeria/3_1_1AlbunsMenu.jpg" alt="Imagens" class="menu-image">
    <p class="menu-description">
      Agora selecione o primeiro menu  chamado "Álbum".
    </p>
    <img src="/assets/galeria/3_1_2CriaAlbum.jpg" alt="Imagens" class="menu-image">
  </div>

  <div class="menu-section">
    <h2 class="menu-title">3.2 - Álbuns Essenciais</h2>
    <p class="menu-description">
      Álbuns Essenciais são álbuns selecionados para serem exibidos no menu inicial de Álbuns. Para definir ou retirar um álbum como Essencial, basta clicar no menu "Três Pontinhos".
    </p>
    <img src="/assets/galeria/3_2_1AlbunsMenu.jpg" alt="Imagens" class="menu-image">
    <p class="menu-description">
      Em seguida "Selecionar álbuns essenciais".
    </p>
    <img src="/assets/galeria/3_2_2EssenciaisAlb.jpg" alt="Imagens" class="menu-image">
    <p class="menu-description">
      Em seguida, basta selecionar os álbuns que deseja definir ou remover dos Essenciais e clicar em "Concluído".
    </p>
    <img src="/assets/galeria/3_2_3ConcluAlbum.jpg" alt="Imagens" class="menu-image">
  </div>

  <div class="menu-section">
    <h2 class="menu-title">3.3 - Ver tudo</h2>
    <p class="menu-description">
      No menu de álbuns, clique no botão "Ver Tudo" para visualizar todos os álbuns do aparelho e suas respectivas fotos.
    </p>
    <img src="/assets/galeria/3_3VerTudo.jpg" alt="Imagens" class="menu-image">
  </div>

  <div class="menu-section">
    <h2 class="menu-title">3.4 - Selecionando e Excluindo Álbuns</h2>
    <p class="menu-description">
      Para selecionar um  álbum, basta manter o dedo precionado no álbum de sua escolha. Após ser selecionado, clique na opção "Excluir".<br> 
    </p>
      <img src="/assets/galeria/3_4ExcluiAlbum.jpg" alt="Imagens" class="menu-image">
    <p class="menu-description">
      Basta selecionar a opção "Mover para a Lixeira" e o álbum será excluído automaticamente após 30 dias.
    </p>
    <img src="/assets/galeria/3_4_1LixeiraAlbum.jpg" alt="Imagens" class="menu-image">
  </div>

</ion-content>
