<ion-content class="backgroundG">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button class="button" (click)="accessMenu()">
          <ion-icon name="arrow-undo-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>Galeria</ion-title>
      <ion-buttons slot="end">
        <ion-button class="button">
          <ion-icon name="menu"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <h1 class="centered-text">O que podemos fazer aqui?</h1>

  <div class="menu-section">
    <h2 class="menu-title">1 - Menus</h2>
    <p class="menu-description">
      Na primeira tela após abrir a galeria você pode visualizar os seguintes menus: Imagens(1), Álbuns(2) e Histórias(3).
    </p>
    <!-- <img src="/assets/album_preview.png" alt="Menu Image" class="menu-image"> -->
  </div>

  <!-- Replicar para mais seções -->
  <div class="menu-section">
    <h2 class="menu-title">2 - Imagens</h2>
    <p class="menu-description">
      Ao acessar o menu de imagens(1), no centro da tela você poderá visualizar todas a fotos salvas no seu aparelho.
    </p>
    <!--<img src="/assets/images_preview.png" alt="Imagens" class="menu-image"> -->
  </div>

  <div class="menu-section">
    <h2 class="menu-title">3 - Selecionando Imagens</h2>
    <p class="menu-description">
      Ao manter pressionado o dedo na imagem desejada, você irá seleciona-la, podendo assim selecionar outras imagens (ou somente uma) para depois escolher
      uma ação desejada, como: Compartilhar(1), Excluir(2) e Mais(3), marcados na imagem a seguir.
    </p>
    <!--<img src="/assets/images_preview.png" alt="Imagens" class="menu-image"> -->
  </div>

  <div class="menu-section">
    <h2 class="menu-title">3.1 - Compartilhando Imagens</h2>
    <p class="menu-description">
      Ao selecionar a(s) imagem(s) desejada(s) e precionar o botão de compartilhar, o celular mostrará a(s) imagem(s) selecionada(s)(1), seus contatos recentes para enviar
      a(s) imagem(s)(2) e os aplicativos para você compartilhar a(s) imagem(s)(3). Após selecionar o aplicativo que deseja encaminhar a(s) imagem(s), o celular irá abrir o aplicativo
      correspondente.
    </p>
    <!--<img src="/assets/images_preview.png" alt="Imagens" class="menu-image"> -->
  </div>

  <div class="menu-section">
    <h2 class="menu-title">3.2 - Excluindo Imagens</h2>
    <p class="menu-description">
      Ao seleciar a(s) imagem(s) desejada(s) e precionar o botão de excluir, aparecerá a seguinte mensagem.
    </p>
    <!--<img src="/assets/images_preview.png" alt="Imagens" class="menu-image"> -->
    <p>Precionando a opção "Mover para a Lixeira", a(s) imagem(s) serão movidas para a lixeira, onde serão excluidas automaticamente após 30 dias.</p>
    <!--<img src="/assets/images_preview.png" alt="Imagens" class="menu-image"> -->
  </div>

  <div class="menu-section">
    <h2 class="menu-title">3.3 - Mais Opções</h2>
    <p class="menu-description">
      Precionando a opção "Mais"(Figura 1), aparecerá um menu com várias opções possíveis(Figura 2).</p>
      <p>- Copiar p/ área de transf.(1): Copia a(s) imagem(s), possibilitando colar a(s) imagem(s) em outro lugar.</p>
      <p>- Copiar para o álbum(2): Possibilita criar uma cópia da(s) imagem(s) em algum álbum já criado.</p>
      <p>- Mover para o álbum(3): Move a(s) imagem(s) selecionada para um álbum já criado, sem criar cópias.</p>
      <p>- Definir como papel de parede(4): Define a(s) imagem(s) selecionada como plano de fudno do celular, podendo ser o plano da tela de bloqueio, tela inicial ou ambas.
    </p>
    <!--<img src="/assets/images_preview.png" alt="Imagens" class="menu-image"> -->
  </div>

</ion-content>
