<ion-content class="backgroundC">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button class="button" (click)="accessMenu()">
          <ion-icon name="arrow-undo-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>Calendário</ion-title>
      <ion-buttons slot="end">
        <ion-button class="button">
          <ion-icon name="menu"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <h1 class="centered-text">O que podemos fazer aqui?</h1>

  <div class="menu-section">
    <h2 class="menu-title">2.1 - Selecionando Imagens</h2>
    
    <img src="/assets/galeria/2_1SelecImg.jpg" alt="Imagens" class="menu-image">

    <p class="menu-description">
      Ao manter pressionado o dedo na imagem desejada, você irá seleciona-la, podendo assim selecionar outras imagens (ou somente uma) para depois escolher
      uma ação desejada, como: Compartilhar(1), Excluir(2) e Mais(3), marcados na imagem a seguir.
    </p>

  </div>

</ion-content>